
*{
    font-family: 'Pixelify Sans', sans-serif;


}

body {
    padding: 0;
    margin: 0;
}

main{
    padding: 16px;
}

footer{
    padding-left: 0;
    padding-right: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: blanchedalmond;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: blanchedalmond;
}

.my-grid {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr;
}

a:visited{
    color: #2be23a;
}
